.catering-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.catering-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

@media only screen and (max-width: 600px) {
    .catering-container{
        flex-direction: column;
        gap: 1.4rem;
        align-items: center;
        justify-content: center;
    }
  }