.about{
    padding:4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.line{
    width: 200px;
    height: 2px;
    background-color: hsla(303, 77%, 22%, 0.237);
}
.heading-container{
    display: flex;
    align-items: center;
    gap: 2rem;
}
h2{
    font-size: 1.4rem;
    color: #270B44;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
p{
    line-height: 22px;
    color: #270B44;
}

.category-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

h3 {
    color: #270B44;
    padding-bottom: 1rem;
}

.category-link h3:hover {
    color: #640D5F;
    cursor: pointer;
}

.category-link h3.active {
    border-bottom: 3px solid #640D5F;
    color: #640D5F;
}

@media only screen and (max-width: 600px){
    .about{
        padding:1.4rem;
    }  
}