.contact{
    padding: 4rem;
    background-color: #dbcdda;
}
form{
    margin-top: 1.4rem;
    display: flex;
    /* align-items: center; */
    gap: 1.5rem;
    justify-content: space-between;
}
.ctc-m,
.map{
    width: 42vw;
}
.map-container{
    margin-top: 1.3rem;
}
.map{
   min-height: 290px;
}

.ctc-m-content{
    display: flex;
    align-items: center;
    gap: 1.3rem;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ctc-card{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    width: 20vw;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    min-width: 250px;
    background-color: rgba(255, 170, 250, 0.08);
    border-radius: 0.2rem;
}
.ctc-card h5{
    font-size: 1.2rem;
    color: #270B44;
}
.ctc-card p{
    font-weight: 700;
    font-size: 0.8rem;
    color: #640D5F;
}
.ctc-icon{
    font-size: 1.3rem; 
    color: #640D5F; 
}

.ctc-inputs{
    width: 42vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-control{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.form-control label{
    color: #270B44;
    font-weight: 600;
}
.form-control input,
.form-control textarea{
    border-radius: 0.2rem;
    outline: none;
    padding: 0.7rem 1rem;
    border: 1.5px solid rgba(39, 11, 68, 0.50);
    background-color: transparent;
    font-weight: 500;
    color: #270B44;
}
::placeholder{
    color: #270B44;  
}
.form-control textarea{
    resize: none;
    min-height: 200px;
}